.mainBackground {
    background-color: #F6F7F8;
}
.mainBackgroundSecond {
    background: linear-gradient(180deg, #5E50A1 33%, #F6F7F8 33%);
}
.mainBackgroundSecondEdit {
    background: linear-gradient(180deg, #5E50A1 14%, #F6F7F8 14%);
}
  .flexBox {
    width: fit-content;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-color: #FDD074;
    border: 1px solid #FBB017;
    margin-right: 10px;
    font-weight: 500;
}
.sideProfile{
    height: 120vh;
}
.sideProfileEdit{
    height: 280vh;
}
.hightPK{
    
}
.hightPF{
    height: 75vh;
}
.dataHeight{
    height: 68vh;
}

@media only screen and (max-width: 768px) {
    .sideProfile{
        height: fit-content;
    }
    .sideProfileEdit{
        height: max-content;
    }
    .hightPK{
        
    }
    .hightPF{
        height: 100vh;
    }
    .dataHeight{
        height: 78vh;
    }
  }
