.height-side{
    height: 100vh;
}
.landingphoto{
    height: 600px;
    width: 600px;
}
@media only screen and (min-width: 768px) {
    .height-side{
        height: 0vh;
    }
    .landingphoto{
        height: 100px;
        width: 100px;
    }
  }
